/* DCU page-specific overrides */
.roomDataColumn {
  width: 80%;
}

/* DCU-specific state info styling */
.dcuStateInfo {
  width: 25%;
}

.dcuStateInfoLeft {
  text-align: right;
}

.dcuStateSensorContainer {
  width: 25%;
}

/* Override for duplicate sensor container - use wider version for DCU */
.dcuStateSensorContainer:last-of-type {
  width: 40%;
}

.dcuStatus {
  width: 10%;
}