/* Spec page can now use shared .dataNameContainer, .dataContainer, .dataTitle, .data classes */

.rockPictureContainer {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.rockPicture {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.dropdownText {
  font-size: .9rem;
}