/* DCU page-specific overrides */
.column {
  width: 80%;
}

/* DCU-specific state info styling */
.dcu-info {
  width: 25%;
}

.dcu-info-left {
  text-align: right;
}

.dcu-sensor {
  width: 25%;
}

/* Override for duplicate sensor container - use wider version for DCU */
.dcu-sensor:last-of-type {
  width: 40%;
}

.dcu-status {
  width: 10%;
}