.sidebar {
  padding: 1rem;
  margin: 0;
  background-color: var(--darker-grey);
  border: 4px solid var(--sharp-blue);
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: column;
}

.sidebar-title {
  color: var(--white);
  font-size: 1.5rem;
  text-decoration: none;
  white-space: nowrap;
  align-self: flex-start;
}

.sidebar-item {
  font-size: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 0.5rem;
  background-color: var(--darker-grey);
  border: 2px solid var(--sharp-blue);
  width: 95%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.sidebar-item:hover {
  background-color: var(--grey);
  transition: 1s;
}

.sidebar-light {
  width: 15%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.status-light {
  background-color: var(--light-grey);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

.btn-round, .prButton {
  background-color: var(--light-grey);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  cursor: pointer;
}

.btn-round:hover, .prButton:hover {
  background-color: var(--grey);
  transition: 0.3s;
}

.btn-round:active {
  background-color: var(--white);
}

.prButton {
  background-color: var(--white);
}

.prButton:hover {
  background-color: var(--grey);
}

.prButton:active {
  background-color: var(--light-green);
}

.sidebar-name {
  width: 45%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.sidebar-text {
  color: var(--white);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

.sidebar-num {
  width: 25%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}


/**************** Telemetry CSS ****************/
.btn-start {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  height: 2rem;
  width: 6.5rem;
  border-radius: 0.25rem;
  color: var(--white);
  font-size: 0.9rem;
  background-color: rgba(0, 150, 10, 1);
  opacity: 0.75;
  border: none;
}

.btn-stop {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  height: 2rem;
  width: 6.5rem;
  border-radius: 0.25rem;
  color: var(--white);
  font-size: 0.9rem;
  background-color: var(--darker-grey);
  opacity: 0.75;
  border: none;
}

.btn-start:hover {
  opacity: 1;
  transition: 1s;
}

.btn-stop:hover {
  opacity: 1;
  transition: 1s;
}

.switch-label {
  width: 60%;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.switch-text {
  color: var(--light-grey);
  white-space: nowrap;
  font-size: 0.9rem;
}

.switch-container {
  width: 35%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.btn-container {
  width: 35%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  border-radius: 2rem;
}

/**************** Telemetry State CSS ****************/

/**************** Stations CSS ****************/
.stationNameContainer {
  margin: 0.5rem;
  width: 15%;
  height: 1.5rem;
  background-color: var(--light-grey);
  border-radius: 0.25rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.stationName {
  color: var(--lighter-grey);
  font-size: 1rcap;
  white-space: nowrap;
  font-weight: bold;
}

.stationBulletPoint {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: var(--lighter-grey);
  margin: 0.25rem;
}

.stationStatusContainer {
  width: 20%;
  margin: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.stationStatus {
  color: var(--lighter-grey);
  font-size: 1.15rem;
  white-space: nowrap;
}

.stationTimerContainer {
  width: 10%;
  margin: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  display: none;
}

.stationTimer {
  color: var(--white);
  font-size: 1rem;
  white-space: nowrap;
}

.stationButtonContainer {
  width: 20%;
  margin: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  display: none;
}

.stationButton {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--white);
  font-size: 0.75rem;
  background-color: var(--dark-grey);
  border-radius: 0.3rem;
  border-color: var(--white);
  border-width: 0.1rem;
  white-space: nowrap;
}

.stationButton:hover {
  background-color: var(--light-grey);
  transition: 1s;
}


/**************** Rover CSS ****************/
.roverFeed {
  max-width: 20rem;
  max-height: 20rem;
  margin: 0.5rem;
  display: block;
  border-style: solid;
  border-color: var(--white);
}

/**************** PR Telemetry CSS ****************/

