/* Spec page can now use shared .data-label, .data-value, .label, .value classes */

.rock-container {
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.rock-image {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.dropdown-text {
  font-size: .9rem;
}